input {
    width: 100px!important;
    text-align: right;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  input.has-error {
    border: 1px solid red;
  }

.divider{
  border-bottom: 1px solid #00000080;
  padding-bottom: 0.5rem;
  }
